﻿@using DocumentStorage;

@model List<ResistorColorCode>

@{

    ViewBag.Title = "Resistor Color Code Admin";
}

<h2>@ViewBag.Title</h2>
@Html.AntiForgeryToken()
<GridView id="ResistorConfigGrid" name="ResistorConfiguration" source="api/ResistorCode/GetAll">
    <GridViewColumns>
        <GridColumn column-header="Color" read-only="true" column-item="Color" column-description="The color code">
        </GridColumn>
        <GridColumn column-header="Significant Digit" column-description="The Significant Digit">
            <GridItemTemplate><div class="col-md-1">{{SignificantDigit}}</div></GridItemTemplate>
            <GridEditTemplate><div class="col-md-1 form-control"><input type="text" ng-model="SignificantDigit" /></div></GridEditTemplate>
        </GridColumn>
    </GridViewColumns>
</GridView>

<div id="ResistorColorAdminContent">
    <p>
        @Ajax.ActionLink("Create New", "Create", "ResistorConfiguration", routeValues: null, htmlAttributes: new { id = "CreateLink" }, ajaxOptions: new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "ResistorColorAdminContent" })
    </p>
    <div id="ResistorColorTable" model="resistor" class="container">
        <table grid grid-source="api/ResistorCode/GetAll" class="table table-bordered table-striped wrapped">
            <thead class="thead-default">
                <tr grid-columns class="row">
                    <td grid-column grid-column-description="Color Code">
                        Color
                    </td>
                    <td grid-column grid-column-description="Significant Digit">
                        Significant Digit
                    </td>
                    <td grid-column grid-column-description="Multiplier">
                        Multipiler
                    </td>
                    <td grid-column grid-column-description="Tolerance">
                        Tolerance
                    </td>
                    <td grid-column grid-column-description="Tolerance Code">
                        Tolerance Code
                    </td>
                    <td grid-column grid-column-description="Actions">
                        Actions
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr grid-row ng-repeat="code in resistor">
                    <td grid-field><div grid-data-view>{{code.Color}}</div></td>
                    <td grid-field><div grid-data-view>{{code.SignificantDigit}}</div><div grid-data-edit><input class="form-control" type="number" ng-model="code.SignificantDigit"/></div></td>
                    <td grid-field><div grid-data-view>{{code.Multiplier}}</div><div grid-data-edit><input class="form-control" type="number" ng-model="code.Multiplier" /></div></td>
                    <td grid-field><div grid-data-view>{{code.Tolerance}}</div><div grid-data-edit><input class="form-control" type="number" ng-model="code.Tolerance" /></div></td>
                    <td grid-field><div grid-data-view>{{code.ToleranceCode}}</div><div grid-data-edit><input class="form-control" type="number" ng-model="code.ToleranceCode" /></div></td>
                    <td>
                        <a ng-click="Update('api/ResistorCode/Update', code)" >Save</a>
                        <a ng-click="Delete('api/ResistorCode/Delete', code.Color)" >Delete</a>
                    </td>
                </tr>
            </tbody>


        </table>
    </div>
</div>  