﻿@model DocumentStorage.ResistorColorCode


<tr id="@(Model.Color)_Edit" class="row">
    <td>
        <div class="col-md-10">
            @Model.Color
        </div>
    </td>
    <td>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SignificantDigit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SignificantDigit, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Multiplier, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Multiplier, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tolerance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tolerance, "", new { @class = "text-danger" })
        </div>
    </td>
    <td>
        <div class="form-group col-md-10">
            <input id="ToleranceCode" class="form-control" name="TolaranceCode" value="@Model.ToleranceCode"  type="text"/>
            @Html.ValidationMessageFor(model => model.ToleranceCode, "", new { @class = "text-danger" })
        </div>

    </td>
    <td>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href='@Url.Action("Save", "ResistorConfiguration")' data-val="true" data-ajax-begin="alert('validating'); debugger; $.validator.unobtrusive.parse('@(Model.Color)_Edit'); $('@(Model.Color)_Edit').validate();" data-ajax-form-id="@(Model.Color)_Edit" data-ajax-update="@(Model.Color)_Edit" data-ajax-mode="replace-with" data-ajax="true" data-ajax-method="Post" data-ajax-failure="Alert('Failed to update!')">Save</a>
                @Ajax.ActionLink("Save", "Save", "ResistorConfiguration", Model,
                   new AjaxOptions() { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = Model.Color + "_Edit", HttpMethod = "Post", OnFailure = "Alert('Failed to update!')" })
                @Ajax.ActionLink("Cancel", "GetItem", "ResistorConfiguration", new { Color = Model.Color },
                       new AjaxOptions() { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = Model.Color + "_Edit", HttpMethod = "Post", OnFailure = "Alert('Failed to return to list!')" })

            </div>
        </div>
    </td>
</tr>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
