﻿@using DocumentStorage

@model ResistorColorCode

<tr id="@(Model.Color)_Item" class="row">
    <td><div class="col-md-10">@Model.Color</div></td>
    <td><div class="col-md-10">@Model.SignificantDigit</div></td>
    <td><div class="col-md-10">@Model.Multiplier</div></td>
    <td><div class="col-md-10">@Model.Tolerance</div></td>
    <td><div class="col-md-10">@Model.ToleranceCode</div></td>
    <td>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Ajax.ActionLink("Edit", "UpdateResistorColor", new { color = Model.Color }, ajaxOptions: new AjaxOptions() {  UpdateTargetId = Model.Color + "_Item", InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post" })
                @Ajax.ActionLink("Delete", "DeleteResistorColor", new { color = Model.Color },
       new AjaxOptions()
       {
           Confirm = "Continue to delete color " + Model.Color + "?",
           OnSuccess = "$('#" + Model.Color + "_Item').remove()",
           OnFailure = "alert('failed')",
           HttpMethod = "Delete"
       })
                @Ajax.ActionLink("DeleteApi", "Delete", "api/ResistorCode", new { color = Model.Color },
       new AjaxOptions()
       {
           Confirm = "Continue to delete color " + Model.Color + "?",
           HttpMethod = "Delete",
           OnSuccess = "$('#" + Model.Color + "_Item').remove()",
           OnFailure = "alert('failed');"
       })
            </div>
        </div>
    </td>
</tr>
