﻿@using DocumentStorage
@model ResistorColorCode

@{
    ViewBag.Title = "Create Resistor Color Code";
}
<h4>@ViewBag.Title</h4>
@using (Html.BeginForm("Create", "ResistorConfiguration", FormMethod.Post, new { role = "form" }))
{
    <div class="form-horizontal">

        @Html.AntiForgeryToken()
        <hr />
        <div class="form-group">
            <label class="control-label" for="color">Color:</label>
            <input id="color" class="form-control" type="text" name="Color" placeholder="Enter Color Name ..." required />
        </div>
        <div class="form-group">
            <label class="control-label" for="SignificantDigit">Significant Digit:</label>
            <input id="SignificantDigit" class="form-control" type="number" name="SignificantDigit" placeholder="Enter Significant Digit ..." min="0" max="9" pattern="\d" title="Significant Digit" />
        </div>
        <div class="form-group">
            <label class="control-label" for="Multiplier">Multiplier:</label>
            <input id="Multiplier" class="form-control" type="number" name="Multiplier" placeholder="Enter Multiplier ..." title="Mulitplier Decimal" />
        </div>
        <div class="form-group">
            <label class="control-label" for="Tolerance">Tolerance:</label>
            <input id="Tolerance" class="form-control" type="number" name="Tolerance" placeholder="Enter Tolerance Value ..." title="Tolarence Digit" />
        </div>
        <div class="form-group">
            <label class="control-label" for="ToleranceCode">Tolerance Code:</label>
            <input id="ToleranceCode" class="form-control" type="text" name="ToleranceCode" placeholder="Enter Tolerance Code ..." pattern="[A-Z]{1}" title="Tolerance Code" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}