﻿@using DocumentStorage;

@model List<ResistorColorCode>

@{

    ViewBag.Title = "Resistor Color Code Admin";
}

<h2>@ViewBag.Title</h2>
@Html.AntiForgeryToken()
<div id="ResistorColorAdminContent">
    <p>
        @Ajax.ActionLink("Create New", "Create", "ResistorConfiguration", routeValues: null, htmlAttributes: new { id = "CreateLink" }, ajaxOptions: new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "ResistorColorAdminContent" })
    </p>
    <div id="ResistorColorTable" class="container">
        <table class="table table-bordered table-striped wrapped">
            <thead class="thead-default">
                <tr class="row">
                    <td>
                        Color
                    </td>
                    <td>
                        Significant Digit
                    </td>
                    <td>
                        Multipiler
                    </td>
                    <td>
                        Tolerance
                    </td>
                    <td>
                        Tolerance Code
                    </td>
                    <td>
                        Actions
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    Html.RenderPartial("_ItemResistorCode", item);
                }
            </tbody>


        </table>
    </div>
</div>  